/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons";

.main-panel .content {
  padding: 40px 15px;
  min-height: calc(100vh - 123px);
}
.has-danger input::placeholder,
.has-danger textarea::placeholder,
.has-danger .display-text {
  color: #f44336;
}
label.error span {
  display: block;
}
div.error {
  width: 100%;
}
.available-items li:hover {
  background-color: aliceblue;
}
.goals {
  height: 30px !important;
  min-width: 30px !important;
  width: 30px !important;
}
.goals .material-icons {
  font-size: 20px !important;
  line-height: 31px !important;
}
.table-actions button {
  padding: 5px;
}
.swal2-container {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.select-picker button {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 4px !important;
}
.btn-add {
  padding: 8px 8px 8px 0px !important;
  margin: 12px 0 !important;
}
.ngx-dropdown-button .nsdicon-angle-down::before {
  height: 6px !important;
  width: 6px !important;
}
.modal-card-text,
.btn-modal {
  padding: 6px !important;
}
.icon-images {
  line-height: 18px !important;
}
.icon-images img {
  filter: invert(1);
  height: 25px;
}

.inner-card {
  border: 1px solid #d5d5d5;
  padding: 2%;
  border-radius: 10px;
  margin: 2% 0;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text),
.card.bg-rose,
.card.card-rotate.bg-rose .front,
.card.card-rotate.bg-rose .back,
.sidebar[data-color="rose"] li.active > a,
.btn.btn-rose:focus, .btn.btn-rose, .btn.btn-rose.focus, .btn.btn-rose:hover {
  background: linear-gradient(60deg, #DC143C, #DC143C) !important;
}
.nav-pills .nav-item .nav-link {
  color: #fff !important;
}
.nav-pills.nav-pills-warning .nav-item .nav-link.active,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
  background: #484d4e !important;
}
.form-group input[type=file] {
  opacity: 1 !important;
    position: relative !important;
    z-index: 1000 !important;
}

.student-section .ngx-dropdown-container{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.student-section .ngx-dropdown-container button .nsdicon-angle-down {
  top: 6px;
}
.student-section input, .student-section textarea{
  background: #fff;
  border: 2px solid #fff;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  padding: 22px 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card-login input{
  padding: 10px;
}
.ngx-dropdown-container .ngx-dropdown-button {
  padding: 12px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .student-section{
    padding-top:15.3%;
  }
  .question-image {
    height: 36vh !important;
  }
  .question-image img{
    height: 30vh !important;
  }
  .question-title{
    height:48px !important;
  }
  *{
    font-size:13px !important;
  }
  .ngx-dropdown-container{
    width: 90%;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 40px;
    padding: 8px 15px !important;
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
  .student-section{
    padding-top:13.3%;
  }
  .question-image {
    height: 40vh !important;
  }
  .question-image img{
    height: 35vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 45px;
    padding: 10px 15px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .student-section{
    padding-top:11.3%;
  }
  .question-image {
    height: 45vh !important;
  }
  .question-image img{
    height: 40vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 50px;
    padding: 10px 15px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .student-section{
    padding-top:9.3%;
  }
  .question-image {
    height: 68vh !important;
  }
  .question-image img{
    height: 65vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 50px;
    padding: 12px 15px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  .student-section{
    padding-top:7.3%;
  }
  .question-image {
    height: 68vh !important;
  }
  .question-image img{
    height: 65vh !important;
  }
}

@media only screen and (min-width: 1200px){
  .student-section{
    padding-top:5.3%;
  }
}
