.student-section{
  height: 100vh;
  overflow: auto;
  max-height: 100vh;
}
.student-section .row{
  margin: 0 !important;
}
.student-section .card{
  margin-bottom: 0 !important;
}
.question-image{
  height:66vh;
}
.question-image img{
  width: 100%;
  height: 60vh;
}
.btn-sec{
  padding-top: 8px;
}
.card-body iframe{
  width: 100%;
  height: 33vh;
}
.question-number{
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  width: 50px;
  margin: 1%;
}
.question-number.active, .question-number:hover{
  background-color: #ff9800;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  color: #ffffff;
}
.highlight{
  margin: 0 0 1rem;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.student-section .form-control:disabled, .form-control[readonly] {
  background-color: #fff !important;
}

.section-height{
  height: 88vh;
}
.child-section-height{
  height: 39vh;
  max-height: 39vh;
}
.question-details-body{
  padding: 1px 0 0 0;
}
.bottom-actions{
  position: sticky;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  height:65px;
}
.right-aligned{
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin: 7px 0;
}
.right-aligned .btn{
  padding: 7px;
  font-size: 13px;
  cursor: not-allowed;
}
.right-aligned .btn-warning{
  cursor: pointer !important;
}
.question-action-pad{
  padding: 6% 1% 9% 1%;
}
.col-40{
  width:40%;
}
.col-60{
  width:60%;
}

.col-70{
  width:70%;
}
.question-title{
  height:60px;
}
.right-col{
  display: flex;
  justify-content: flex-end;
}
.back-btn{
  position: absolute;
  z-index: 9;
  left: -60px;
  top: 25%;
  padding: 5px;
}
.filter-btn{
  padding: 6px;
}
.card-text{
  max-height: 60px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .student-section{
    padding-top:15.3%;
  }
  .question-image {
    height: 36vh !important;
  }
  .question-image img{
    height: 30vh !important;
  }
  .question-title{
    height:48px !important;
  }
  *{
    font-size:13px !important;
  }
  .ngx-dropdown-container{
    width: 90%;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 40px;
    padding: 8px 15px !important;
  }
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
  .student-section{
    padding-top:13.3%;
  }
  .question-image {
    height: 40vh !important;
  }
  .question-image img{
    height: 35vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 45px;
    padding: 10px 15px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .student-section{
    padding-top:11.3%;
  }
  .question-image {
    height: 45vh !important;
  }
  .question-image img{
    height: 40vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 50px;
    padding: 10px 15px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .student-section{
    padding-top:9.3%;
  }
  .question-image {
    height: 68vh !important;
  }
  .question-image img{
    height: 65vh !important;
  }
  .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text{
    height: 50px;
    padding: 12px 15px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  .student-section{
    padding-top:7.3%;
  }
  .question-image {
    height: 68vh !important;
  }
  .question-image img{
    height: 65vh !important;
  }
}

@media only screen and (min-width: 1200px){
  .student-section{
    padding-top:5.3%;
  }
}



