.login-pad{
  padding: 14% 0 0 0;
}
.login-error{
  margin-left: 16%;
}
.logo img{
  width: 25%;
  height: 50px;
}
.logo{
  display: flex;
  padding: 16% 0;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .login-pad{
    padding: 14% 4% 0 4%;
  }
  .logo img{
    width: 20%;
    height: 45px;
  }
  .logo{
    padding: 7% 0;
  }
}
