<div class="content student-profile-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">Student Profile</h4>
                  </div>
                </div>
                <div class="card-body ">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink] = "'/'"> <i class="material-icons">home</i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </nav>
                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="inner-card shadow">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.name.errors }">
                            <label for="name" class="bmd-label-floating">Name</label>
                            <input formControlName="name" id="name" type="text" class="form-control">
                            <label *ngIf="submitted && f.name.errors" class="error">
                              <span *ngIf="f.name.errors.required">Name is required</span>
                              <span *ngIf="f.name.errors.maxLength">Maximum length is 100 characters</span>
                              <span *ngIf="f.name.errors.minLength">Should be minimum 2 characters</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form">
                            <label for="email" class="bmd-label-floating">Email</label>
                            <input formControlName="email" id="email" type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.fName.errors }">
                            <label for="fName" class="bmd-label-floating">Father's Name</label>
                            <input formControlName="fName" id="fName" type="text" class="form-control">
                            <label *ngIf="submitted && f.fName.errors" class="error">
                              <span *ngIf="f.fName.errors.required">Father's Name is required</span>
                              <span *ngIf="f.fName.errors.maxLength">Maximum length is 100 characters</span>
                              <span *ngIf="f.fName.errors.minLength">Should be minimum 2 characters</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.dob.errors }">
                            <label for="dob" class="bmd-label-floating">Date Of Birth</label>
                            <input formControlName="dob" id="dob" type="text" class="form-control" bsDatepicker>
                            <label *ngIf="submitted && f.dob.errors" class="error">
                              <span *ngIf="f.dob.errors.required">Date Of Birth is required</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.class.errors }">
                            <label for="class" class="bmd-label-floating">Class</label>
                            <ngx-select-dropdown (change)="getAllStreams()" [options]="classesList" formControlName="class" [multiple]="false" [config]="classConfig" class="select-picker"></ngx-select-dropdown>
                            <label *ngIf="submitted && f.class.errors" class="error">
                              <span *ngIf="f.class.errors.required">Select a class</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.stream.errors }">
                            <label for="stream" class="bmd-label-floating">Stream</label>
                            <ngx-select-dropdown [options]="streamsList" formControlName="stream" [multiple]="false" [config]="streamConfig" class="select-picker"></ngx-select-dropdown>
                            <label *ngIf="submitted && f.stream.errors" class="error">
                              <span *ngIf="f.stream.errors.required">Select a stream</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form">
                            <label for="phone" class="bmd-label-floating">Mobile No.</label>
                            <input formControlName="mobileNo" id="phone" type="text" class="form-control" >
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.city.errors }">
                            <label for="city" class="bmd-label-floating">City</label>
                            <input formControlName="city" id="city" type="text" class="form-control">
                            <label *ngIf="submitted && f.city.errors" class="error">
                              <span *ngIf="f.city.errors.required">City is required</span>
                              <span *ngIf="f.city.errors.maxLength">Maximum length is 100 characters</span>
                              <span *ngIf="f.city.errors.minLength">Should be minimum 2 characters</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group md-form" [ngClass]="{ 'has-danger': submitted && f.address.errors }">
                            <label for="address" class="bmd-label-floating">Address</label>
                            <textarea formControlName="address" id="address" type="text" class="form-control"></textarea>
                            <label *ngIf="submitted && f.address.errors" class="error">
                              <span *ngIf="f.address.errors.maxLength">Maximum length is 500 characters</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
